@model IEnumerable<MyBlogSite.ViewModels.BlogVM>
@{
    ViewBag.Title = "Home Page";
}

<header>
    <h1>
        This is a free MVC blog <br />
        designed and created by <a href="http://minmaung.com">Min Maung</a> & <a href="http://lwinmaung.com">Lwin Maung</a>.
    </h1>
    <p>The CSS template is designed by <a href="http://html5up.net/">HTML5 UP</a></p>
</header>
@{Html.RenderPartial("~/Views/Blog/_BlogsList.cshtml", Model);}